<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/loadPubParts.js"></script>
    <title>Memo Ease</title>
</head>
<body>
    <header id="pubHeader"></header>

    <main>
        <section class="top-container">
            <div class="top-container-absolute top-texts-container">
                <div class="top-container-inner">
                    <div class="top-container-inner2 title-container">
                        <div class="title">
                            <div class="title-inner">
                                <h1>登録不要型のメモアプリ <span class="header-service-name">MemoEase</span></h1>
                                <div class="description">
                                    <p>1ボタンで自分だけのメモを作成できるWebアプリです。</p>
                                    <p>パスワードも設定でき、安全に使えます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-container-inner2">
                        <div class="memo-container">
                            <div id="createMemo">
                                <button type="submit" class="btn btn-primary craete-memo-btn" @click="submit" :disabled="isLoading">メモを新規作成</button>
                                <div class="alert alert-danger" role="alert" v-if="errorMessage" v-cloak>{{ errorMessage }}</div>
                                <p class="create-memo-comment">
                                    メモの作成及び編集をご利用になる場合,
                                    <a href="/terms_of_service.html" target="blank">利用規約</a>及び <a href="/privacy_policy.html" target="blank">プライバシーポリシー</a>に同意したものとみなします.
                                </p>
                            </div>
                            <div id="editMemo">
                                <form action="" method="post" @submit.prevent="submit">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="memoAlias" placeholder="メモID" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">メモを編集</button>
                                </form>
                                <div class="alert alert-danger" role="alert" v-if="errorMessage" v-cloak>{{ errorMessage }}</div>
                                <div class="memo-histories">
                                    <p>メモ閲覧履歴一覧 (ブラウザごとに保存)</p>
                                    <div class="history-item-container" v-for="item in memoHistories">
                                        <p>
                                            <a :href="'/edit.html?memo_uuid=' + item.memoUuid">
                                                <span class="history-memo-title">{{ item.title }}&nbsp;</span>
                                                <span class="history-memo-alias">({{ item.memoAlias }})</span>
                                                <!-- <span class="history-memo-date">{{ item.date }}</span> -->
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="top-container-absolute top-container-sample-img-outer-container">
                <div class="top-container-inner">
                    <div class="top-container-inner2 top-container-sample-img-container">
                        <img src="/imgs/sample.png" alt="">
                    </div>
                    <div class="top-container-inner2 top-container-sample-img2-container">
                        <img src="/imgs/mobile_sample.png" alt="">
                    </div>
                </div>
            </div> -->
        </section>
    </main>

    <footer id="pubFooter"></footer>

    <script src="/js/index.js"></script>
</body>
</html>