<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Memo Ease</title>
</head>
<body>
    <header></header>

    <main>
        <div id="createMemo">
            <button type="submit" class="btn btn-primary" @click="submit" :disabled="isLoading">メモを新規作成</button>
            <div class="alert alert-danger" role="alert" v-if="errorMessage" v-cloak>{{ errorMessage }}</div>
        </div>
    </main>

    <main>
        <div id="editMemo">
            <form action="" method="post" @submit.prevent="submit">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="memoAlias" placeholder="メモID" required>
                </div>
                <button type="submit" class="btn btn-primary">メモを編集</button>
            </form>
            <div class="alert alert-danger" role="alert" v-if="errorMessage" v-cloak>{{ errorMessage }}</div>
        </div>
    </main>

    <footer></footer>

    <script src="/js/index.js"></script>
</body>
</html>