@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

/**
 * サイドバー
 */
.sidebar-container .sidebar-close-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  margin: 0;
}
.sidebar-container #sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 100%;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  padding-top: 64px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 100;
  transition: width 200ms 0.2s ease;
}
.sidebar-container #sidebar .sidebar-inner {
  height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
}
.sidebar-container #sidebar .content-list {
  margin-bottom: 0.5rem;
}
.sidebar-container #sidebar .content-list .content-header {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 2rem 0.5rem 1rem;
  transition: opacity 0s ease;
}
.sidebar-container #sidebar .content-list .content-icon {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 0.5rem;
  border-radius: 4px;
  background-color: var(--sidebar-content-icon-bg-color);
}
.sidebar-container #sidebar .content-list .content-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.sidebar-container #sidebar .content-list .content-title {
  flex-grow: 1;
  margin-left: 0.5rem;
  font-size: 16px;
}
.sidebar-container #sidebar .content-list ul {
  margin: 0;
  padding: 0;
}
.sidebar-container #sidebar .content-list ul li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.sidebar-container #sidebar .content-list ul li::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  right: 15px;
  top: 19px;
}
.sidebar-container #sidebar .content-list ul li a, .sidebar-container #sidebar .content-list ul li span {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}
.sidebar-container #sidebar .site-info-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sidebar-container #sidebar .site-info-list .content-icon {
  width: 48px;
  height: auto;
}
.sidebar-container #sidebar .site-info-list ul li {
  height: 32px;
}
.sidebar-container #sidebar .site-info-list ul li::after {
  content: none;
  top: 3px;
}
.sidebar-container #sidebar .site-info-list .sidebar-separator {
  margin-bottom: 0.5rem;
}
.sidebar-container #switchSidebar {
  display: none;
}
.sidebar-container .sidebar-switch-container {
  position: fixed;
  width: 64px;
  height: 64px;
  padding-left: 12px;
  z-index: 10001;
}
.sidebar-container .sidebar-switch-container i {
  position: absolute;
  opacity: 1;
  transition: opacity 200ms 0s linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.sidebar-container .sidebar-switch-container .sidebar-switch-label {
  display: block;
  color: var(--sidebar-text-color);
  margin-bottom: 0;
}
.sidebar-container #switchSidebar:not(:checked) ~ .sidebar-switch-container .sidebar-close-button {
  opacity: 0;
}
.sidebar-container #switchSidebar:not(:checked) + #sidebar .content-header {
  opacity: 0;
}
.sidebar-container #switchSidebar:not(:checked) .sidebar-close-bg {
  display: none;
}
.sidebar-container #switchSidebar:checked ~ .sidebar-switch-container .sidebar-open-button {
  opacity: 0;
}
.sidebar-container #switchSidebar:checked + #sidebar .content-header {
  opacity: 1;
}
.sidebar-container #switchSidebar:checked + #sidebar {
  width: 256px;
}

#editor {
  margin-left: 64px;
}

main, .editor-container, .editor-inner {
  height: 100%;
}

.editor-inner {
  display: flex;
  flex-direction: column;
}
.editor-inner .title-container, .editor-inner .memo-title {
  height: 64px;
  margin-bottom: 0;
}
.editor-inner .title-container {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}
.editor-inner .title-container.form-group {
  margin-bottom: 0.25rem;
}
.editor-inner .title-container .memo-title + .memo-title-border {
  position: absolute;
  bottom: 12px;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: border-bottom 200ms 0s ease;
}
.editor-inner .title-container .memo-title:focus + .memo-title-border {
  border-bottom: 1px solid var(--memo-title-border);
}
.editor-inner .title-container .memo-title, .editor-inner .title-container .memo-title[readonly], .editor-inner .title-container .memo-title:focus {
  background-color: var(--memo-title-bg-color);
  color: var(--base-text-color);
  font-size: 22px;
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.editor-inner .editor-body {
  flex-grow: 1;
}
.editor-inner .cke_show_borders {
  overflow: scroll;
}
.editor-inner .ck-editor {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.editor-inner .ck-editor .ck-editor__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.editor-inner .ck-editor .ck-content {
  flex-grow: 1;
}

.memo-editor-overlay {
  position: fixed;
  bottom: 0;
  right: 8px;
  color: var(--memo-editor-overlay-text-color);
}
.memo-editor-overlay .memo-message {
  text-align: right;
}

.modal-form-label {
  width: 128px;
  margin: 4px 12px 4px 0;
}

@media screen and (max-width: 425px) {
  html, body {
    width: 425px;
  }
}
@media screen and (max-width: 767px) {
  .modal-form-label {
    width: 100%;
  }
}
