<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/loadPubParts.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfMH4UaAAAAADcm9EflBnA-J2TeMy_EorpcJCR8"></script>
    <script data-ad-client="ca-pub-6131667937099619" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>お問合せ 兼 フィードバックフォーム - MemoEase</title>
</head>
<body>
    <div id="app">
        <my-header></my-header>
        
        <main>
            <section class="top-container">
                <div id="feedbackForm">
                    <h2>{{$t('feedback.header')}}</h2>
                    <form action="" @submit.prevent="submit">
                        <div class="form-group">
                            <label for="feedbackTitle">{{$t('feedback.feedbackTitle')}}</label>
                            <input type="text" id="feedbackTitle" class="form-control" :placeholder="$t('feedback.feedbackTitle')" v-model="title">
                        </div>
                        <div class="form-group">
                            <label for="feedbackEmail">{{$t('feedback.email')}}</label>
                            <input type="email" id="feedbackEmail" class="form-control" placeholder="Email" v-model="email">
                        </div>
                        <div class="form-group">
                            <label for="feedbackBody">{{$t('feedback.body')}}</label>
                            <textarea name="feedbackBody" id="feedbackBody" class="form-control"  cols="30" rows="10" v-model="body" required></textarea>
                        </div>
    
                        <div class="form-group">
                            <p>※{{$t('feedback.annotation')}}</p>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary g-recaptcha" :disabled="isSubmiting">{{$t('feedback.submit')}}</button>
                        </div>
    
                        <div class="form-group" v-if="isSuccess">
                            <div class="alert alert-success">{{$t('feedback.complete')}}</div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    
    </div>

    <script src="/js/feedback.js"></script>
</body>
</html>