@import "bootstrap";

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

[v-cloak] {
    display: none;
}

.copy-to-clipboard {
    background-color: #222229;
    color: #ddd;
    cursor: pointer;
}

#termsOfService, #privacyPolicy {
    margin: 4rem;
}