body {
    margin: 0;
    width: 100%;
}

.top-container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background-position: center;
    background-size: cover;
    background-image: url("../imgs/top_bg.png");
    overflow-x: hidden;

    .top-texts-container {
        z-index: 2;
    }

    .top-container-absolute {
        position: absolute;
        top: 0;
        height: 100%;
        left: 2rem;
        right: 2rem;
        @media screen and (max-width:767px) {
            left: 1rem;
            right: 1rem;
        }
    }

    .top-container-inner {
        position: relative;
        max-width: 1600px;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }

    .top-container-inner2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;

        
        .memo-container {
            max-width: 800px;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }

        &.title-container {
            justify-content: flex-start;
        
            .title {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin-top: 4rem;

                @media screen and (max-width:767px) {
                    margin-top: 1.5rem;
                }

                background-color: #ffffffcc;
                border-radius: 14px;

                .title-inner {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                p {
                    margin: 0 0.5rem;
                }

                h1 {
                    font-size: 1.5rem;

                    .header-service-name {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    .top-container-sample-img-outer-container {
        @media screen and (max-width:930px) {
            width: 100%;
        }
    }

    .top-container-sample-img-container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 640px;
        max-width: 100%;
        margin: auto;


        @media screen and (max-width:930px) {
            right: -4rem;
            top: 55%;
        }

        @media screen and (max-width:512px) {
            right: 0;
            left: 0;
            margin: 0;
            top: 30%;
            width: 480px;
            img {
                width: calc(100vw - 2rem);
            }
        }
    }

    .memo-container {
        z-index: 2;
        padding: 2rem 1rem;
        background-color: #ffffffcc;
        border-radius: 14px;

        #createMemo {
            margin-bottom: 2rem;
            
            .craete-memo-btn {
                position: relative;
                width: 400px;
                max-width: 100%;
                height: 64px;
                font-size: 1.5em;
                overflow: hidden;
            }

            .craete-memo-btn::before {
                position: absolute;
                content: '';
                display: inline-block;
                top: -180px;
                left: 0;
                width: 30px;
                height: 100%;
                background-color: #fff;
                animation: shiny-btn1 3s ease-in-out infinite;
            }

            @keyframes shiny-btn1 {
                0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
                80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
                81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
                100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
            }

            .create-memo-comment {
                font-size: 0.75rem;
                margin-top: 0.5rem;
            }
        }
    }
}